<div
  class="relative flex flex-col min-w-0 break-words bg-blueGray-100 rounded mb-6 xl:mb-0 shadow-lg cursor-pointer hover:bg-blueGray-200"
  [ngClass]="{'bg-blue-200': player.selected, 'hover:bg-blue-300': player.selected,
   'bg-amber-100': player.highlighted, 'hover:bg-amber-200': player.highlighted}"
  (click)="selectPlayer(player.position)">
  <div class="flex-auto p-2">
    <div class="flex md:flex-col lg:flex-row md:items-center md:text-center">
      <div class="relative w-auto pl-1 flex-initial">
        <div
          class="text-white p-3 md:p-1 w-12 h-12 md:w-10 md:h-10 shadow-lg rounded-full text-center items-center justify-center md:inline-flex"
          [ngClass]="[statIconColor]">
          <i [ngClass]="statIconName" *ngIf="statIconName; else statTextBlock" class="text-black"></i>
          <ng-template #statTextBlock>
            <span *ngIf="statText" class="text-black">{{statText}}</span>
          </ng-template>
        </div>
      </div>
      <div class="relative w-full pr-1 md:pl-1 pl-3 max-w-full flex flex-grow flex-1 items-center">
        <span class="font-semibold text-xl md:text-sm text-blueGray-700">
          {{ player.name }}
        </span>
      </div>
    </div>
  </div>
</div>
